/* 
    Created on : 6-Nov-2019, 9:01:40 PM
    Author     : Michal Zarnowski
    Description: Main styling sheet for all error pages of application.
*/

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../media/errorPage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  background-size: cover;
  
  font-family: 'Marvel', sans-serif;
  font-size: 35px;
  color: #dae7f7;
  text-align: center;
}